.content {
    min-height: 100vh;            /* At least the full viewport height */
    width: 100%;                  /* Full width */
    display: grid;                /* Grid layout for easy centering */
    align-items: center;          /* Vertically center */
    justify-content: center;      /* Horizontally center */
    padding: 20px;                /* Add padding to the container */
    box-sizing: border-box;       /* Include padding in width calculations */
}

.content-form {
    min-height: 100vh;            /* At least the full viewport height */
    width: 100%;                  /* Full width */
    display: grid;                /* Grid layout for easy centering */
    align-items: center;          /* Vertically center items within the grid */
    padding: 20px;   
    box-sizing: border-box;             /* Add padding to the container */
}

.bg-Color {
    background: linear-gradient(to top, hsla(154, 68%, 82%, 1) 0%, hsla(154, 70%, 91%, 1) 49%, hsla(0, 0%, 100%, 1) 100%);
}

.bg-color2 {
    background: linear-gradient(to top, hsla(154, 28%, 52%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
}

.heading-text {
    font-size: 3em;
}

.overlay {
    position: fixed;              
    top: 0;                      
    left: 0;                    
    right: 0;                    
    bottom: 0;                  
    background-color: rgba(255, 255, 255, 0.7); 
    display: flex;               
    align-items: center;          
    justify-content: center;     
    z-index: 9999;                
}

.spinner-border {
    width: 3rem;               
    height: 3rem;                
}

.content-result {
    width: 100%;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    max-height: 100vh; /* Set maximum height to the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Add some padding for better readability */
    box-sizing: border-box; /* Ensure padding does not affect total width */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    border-radius: 5px;
}